{% extends 'layout.html' %}

{% block body %}
    <div class="flex flex-col mx-auto justify-center items-center py-10">
        <!-- Header -->
        <div class="py-4">
            <h1 class="font-medium text-gray-600 text-3xl">Add Products</h1>
        </div>

        <!-- Form -->
        <div class="">
            <form method="post" enctype='multipart/form-data'>
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="flex mx-auto mt-4 py-2 px-4 bg-orange-600 rounded-2xl text-white shadow-md hover:bg-orange-500">
                    Add Product
                </button>
            </form>
        </div>
    </div>
{% endblock %}