{% extends 'layout.html' %}

{% block body %}

<div class="flex flex-col justify-center items-center">
    <h1 class="text-3xl text-gray-700 my-6">All Products</h1>
    <div class="w-full">
        <form class="flex mx-auto justify-center items-center w-full" method="post">
            {% csrf_token %}
            <input class="text-gray-700 text-2xl outline-none rounded-md p-2 ring-1 w-full m-4 bg-neutral-100 focus:bg-neutral-50" type="text" placeholder="Search..." name="search"  autocomplete="off">
            <button class="px-6 py-3 text-neutral-50 bg-blue-600 outline-none rounded-md shadow-md mr-4 hover:bg-blue-800" type="submit">Find</button>
        </form>

    </div>
    
    <table class="table-auto m-4 w-3/4 ">
        <tr class="bg-gray-200 shadow-sm mb-5 text-gray-700">
            <th class="text-left px-2">Brand</th>
            <th class="text-left px-2">Product</th>
            <th class="text-left px-2">Shade</th>
            <th class="text-left px-2">Price</th>
            <th class="text-left px-2">Quantity</th>
            <th class="text-left px-2">Action</th>
        </tr>
        {% for product in products %}
        <tr>
        <td class="text-left px-2"><a href="{% url 'products'%}?q={{product.brand}}">{{ product.brand }}</a></td>
        <td class="text-left px-2"><a href="{% url 'product' product.id %}">{{ product.name }}</a></td>
        <td class="text-left px-2">{{ product.shade }}</td>
        <td class="text-left px-2">{{ product.price }}</td>
        <td class="text-left px-2">{{ product.quantity }}</td>
        <td class="text-left px-2">
            <div class="py-1">
                <a class="bg-indigo-500 rounded my-2 pb-1 px-2 text-white text-center hover:bg-indigo-600 hover:shadow-md" href="{% url 'update_product' product.id %}">Update</a>
                <a class="bg-red-500 rounded my-2 pb-1 px-2 text-white text-center hover:bg-red-600 hover:shadow-md" href="{% url 'delete_product' product.id %}">Delete</a>
            </div>                   
        </td>
        </tr>
        {% endfor %}  
    </table>  
</div>
{% endblock %}